.calculator-wrapper {
    padding: 11px 20px 15px;
    border: 1px solid black;
    background-color: #000E20;
}

.calculator-wrapper .guide-icon {
    position: absolute;
    top: -205px;
    right: -170px;
    scale: 0.24;
}

.calculator-wrapper form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.calculator-wrapper form .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
}

.calculator-wrapper .field label {
    font-size: 13px;
    font-weight: 700;
}

.calculator-wrapper .field .main {
    position: relative;
}

.calculator-wrapper .main input {
    width: 112px;
    height: 42.5px;
    padding: 0 12px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #363636;
}

.calculator-wrapper .main input::-webkit-outer-spin-button,
.calculator-wrapper .main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-wrapper .main input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.calculator-wrapper .main .clear-icon {
    position: absolute;
    top: 15px;
    left: 10px;
}

.calculator-wrapper .main .fa-triangle-exclamation {
    position: absolute;
    top: 15px;
    transform: translateX(-17px);
    font-size: 14.5px;
    color: #E9D502;
}

.calculator-wrapper form button {
    width: 163px;
    height: 44px;
    border: 2px solid #0D3396;
    border-radius: 15px;
    margin-top: 15px;
    outline: none;
    font-size: 17px;
    font-weight: 900;
    color: white;
    background-color: #0097FF;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.calculator-wrapper form :where(.line-wrapper, .arrow-wrapper) {
    position: relative;
}

.calculator-wrapper form .line-wrapper {
    margin: -20px 0 -43px;
}

.calculator-wrapper form .arrow-wrapper {
    margin: -18px 0 7px;
}

.calculator-wrapper form :where(.line-cover, .arrow-cover) {
    width: 33px;
    height: 33px;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -10px;
    background-color: #000E20;
}

.calculator-wrapper .error {
    margin-top: -10px;
    display: flex;
    column-gap: 5px;
    font-size: 10px;
    font-weight: 700;
    color: #E9D502;
}

.calculator-wrapper .error i {
    font-size: 14.5px;
}

.calculator-wrapper :where(.result-possible *, .result-impossible) {
    opacity: 0;
    font-size: 13px;
    font-weight: 700;
}

.calculator-wrapper .result-possible {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.calculator-wrapper .result-possible :first-child {
    width: 43px;
    height: 38px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    box-shadow: 0 0 15px #91FF04;
}

.calculator-wrapper .result-possible :last-child,
.calculator-wrapper .result-impossible {
    color: #91FF04;
}



/* Media Query */

@media screen and (min-width: 590px) {
    .calculator-wrapper {
        padding: 18px 35px 35px;
    }
    .calculator-wrapper .guide-icon {
        top: -192px;
        right: -162px;
        scale: 0.29;
        cursor: pointer;
    }
    .calculator-wrapper form {
        margin-top: 25px;
        row-gap: 25px;
    }
    .calculator-wrapper form .field {
        row-gap: 7px;
    }
    .calculator-wrapper .field label {
        font-size: 14px;
    }
    .calculator-wrapper .main input {
        width: 135px;
        height: 40px;
        font-size: 18px;
    }
    .calculator-wrapper .main .clear-icon {
        scale: 1.4;
        cursor: pointer;
    }
    .calculator-wrapper .main .fa-triangle-exclamation {
        font-size: 15.5px;
    }
    .calculator-wrapper form button {
        width: 168px;
        height: 42px;
        font-size: 19px;
        cursor: pointer;
    }
    .calculator-wrapper .error {
        font-size: 11.5px;
    }
    .calculator-wrapper .error i {
        font-size: 15.5px;
    }
    .calculator-wrapper :where(.result-possible, .result-impossible) {
        font-size: 15px;
    }
    .calculator-wrapper .result-possible :first-child {
        width: 48px;
        height: 42.5px;
    }
}